Repository metrics-rs/metrics, pull requests merged in 2024-08, with the labels that each got.

#500 Replace num_cpus::get with std::thread::available_parallelism
  metrics-util/Cargo.toml
  metrics-util/src/registry/mod.rs
Labels: C-util, T-chore, S-awaiting-release

#508 chore: correct gibibyte spelling
  metrics-observer/src/main.rs
  metrics/src/common.rs
Labels: C-core, T-bug, S-awaiting-release

#510 Fix clippy lints
  clippy.toml
  metrics-exporter-prometheus/src/distribution.rs
  metrics-exporter-prometheus/src/exporter/builder.rs
  metrics-exporter-prometheus/src/exporter/http_listener.rs
  metrics-exporter-prometheus/src/exporter/push_gateway.rs
  metrics-exporter-prometheus/src/formatting.rs
  metrics-exporter-prometheus/tests/http_listener_integration_test.rs
  metrics-tracing-context/benches/layer.rs
  metrics-tracing-context/benches/visit.rs
  metrics-tracing-context/src/tracing_integration.rs
  metrics-tracing-context/tests/integration.rs
  metrics-util/benches/filter.rs
  metrics-util/benches/prefix.rs
  metrics-util/benches/registry.rs
  metrics-util/src/layers/filter.rs
  metrics-util/src/layers/router.rs
  metrics-util/src/registry/recency.rs
  metrics/benches/macros.rs
  metrics/examples/basic.rs
  metrics/src/key.rs
Labels: C-exporter, C-util, C-core, E-simple, T-chore
