Repository metrics-rs/metrics, pull requests merged in 2024-10, with the labels that each got.

#527 Update home dependency
  metrics-exporter-tcp/Cargo.toml
  metrics-observer/Cargo.toml
Labels: C-exporter, E-simple, T-chore

#523 Introduce support for thread-local default recorder
  metrics/src/recorder/mod.rs
Labels: C-core, E-intermediate, T-ergonomics

#530 chore: big round of dep updates + use cargo-autoinherit to move to workspace deps + MSRV bump
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  metrics-benchmark/Cargo.toml
  metrics-exporter-prometheus/CHANGELOG.md
  metrics-exporter-prometheus/Cargo.toml
  metrics-exporter-tcp/CHANGELOG.md
  metrics-exporter-tcp/Cargo.toml
  metrics-observer/Cargo.toml
  metrics-tracing-context/CHANGELOG.md
  metrics-tracing-context/Cargo.toml
  metrics-util/CHANGELOG.md
  metrics-util/Cargo.toml
  metrics/CHANGELOG.md
  metrics/Cargo.toml
Labels: C-exporter, C-util, C-core, E-simple, T-chore

#531 enhancement: add new `record_many` method for histograms
  metrics/CHANGELOG.md
  metrics/src/handles.rs
Labels: C-core, E-simple, T-enhancement

#532 enhancement: expose `with_recorder` in the docs
  metrics/CHANGELOG.md
  metrics/src/recorder/mod.rs
Labels: C-core, T-enhancement, S-awaiting-release, T-request

#537 prometheus: update docs to highlight requirements around upkeep
  metrics-exporter-prometheus/CHANGELOG.md
  metrics-exporter-prometheus/src/exporter/builder.rs
  metrics-exporter-prometheus/src/lib.rs
Labels: C-exporter, E-simple, T-chore, S-awaiting-release

#538 util: change some layers to require recorders that are `Sync`
  metrics-util/CHANGELOG.md
  metrics-util/src/layers/fanout.rs
  metrics-util/src/layers/router.rs
  metrics/src/recorder/mod.rs
Labels: C-util, E-simple, T-ergonomics
